process {
    executor = 'slurm'
    queue = 'gpu'
    clusterOptions = '--partition=gpu --gres=gpu:1'

    withName: 'QC|DOUBLETS|NORMALIZE|CLUSTER|RECONCILE_ANNOTATIONS|MARKERS' {
        queue = 'general'
        clusterOptions = '--partition=general'
    }
    withName: 'INTEGRATE|ANNOTATE_HSPC|ANNOTATE_MATURE' {
        queue = 'gpu'
        clusterOptions = '--partition=gpu --gres=gpu:1 --time=04:00:00'
    }
}
